{% extends 'master.twig' %}

{% block content %}
<h4>Tasks Manager System with a Secure Authentication System that Developed by Slim Framework !</h4>
<h5>[+] You can reading and using codes of this Project on my GitHub Account !</h5>
<br><hr>
<h4>Author</h4>
<ul>
    <li>Name : Hossien Soli</li>
    <li>Email : h.s.asol.msol@gmail.com</li>
    <li>GitHub : <a href="https://github.com/hossien-soli/" >https://github.com/hossien-soli/</a></li>
</ul>
<br>
<p class="lead" >Project Repository on GitHub : <a href="https://github.com/hossien-soli/tasks_manager/">https://github.com/hossien-soli/tasks_manager/</a></p>
{% endblock %}